* {
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(155deg, #312ee75d, #d61f874d);
}

main {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.315);
    border-radius: 14px;
    padding: 5px;
    width: 600px;
    display: flex;
    flex-direction: column;

}

#usuarioPerfil {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10%;

}

#imgPerfil {
    border-radius: 50%;
}



#linkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linkItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    border: solid 1px black;
    border-radius: 14px;
    padding: 10px;
}

.linkItem span {
    margin-right: 10px;
}

.linkItem a {
    margin: 0 10px;
}

#addLinkButton {
    border-radius: 5px;
    color: white;
    border: solid 1px transparent;
    background-color: rgb(54, 54, 190);
    margin-top: 5px;
    padding: 10px;
}
#addLinkButton:hover {
    
    border: solid 1px white;
    background-color: rgba(54, 54, 190, 0.527);
}

#deleteLinkBtn{
    border-radius: 2px;
    border: none;
    background-color: rgb(255, 255, 255);
    border: solid 0.5px transparent;
}

#deleteLinkBtn:hover{
    
    color: white;
    border: solid 0.5px black;
    background-color: rgba(255, 0, 0, 0.541);
}


